<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="container">

		<div id="navbar">
			<div id="search">
				<img src="assets/SearchBNA.jpg">
				<img src="assets/SearchEG.jpg">
			</div>
			<div id="login"> 
				<form class="inline">
							First name:<input type="text" name="firstname" id="first">
							Last name:<input type="text" name="lastname" id="last">
				</form>
			</div>
			<div id="hidden">
				.
			</div>
		</div>
		<br />

		<div id="linkArea">
			<div id="logo">

				<img src="assets/Employers Group Logo.gif">
			</div>
			<div id="links">
				<img src="assets/Screen Shot 2015-03-21 at 4.37.41 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.07 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.19 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.31 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.42 PM.png" class="linkImage">
			</div>
		</div>

		<div id="bannerArea">
			<img src="assets/Compensation Consulting.jpg" class="banner">
			<img src="assets/BNA_login.jpg" class="banner">
		</div>

		<div id="youtubeArea">
		    <img src="assets/buttonad_myeglearn.jpg" class="threeLinks">
		    <img src="assets/adsquare_blog2.jpg" class="threeLinks">
		    <img src="assets/ETP-Ad_2.jpg" class="threeLinks">
		    <img src="assets/Screen Shot 2015-03-21 at 4.04.01 PM.png" class="margin">
		</div>

		<div id="signup">
			<div class="center">
		    <img src="assets/SignUp.jpg">	
			</div>
		</div>

<!-- 		<div>
		    <img src="assets/Screen Shot 2015-03-21 at 4.04.21 PM.png">	
		</div> -->
	</div>

</body>
</html>



# A introduction into responsive web design

What is responsive web design? 

Responsive web design is a way to design websites to make them look great on any device, from an office computer down to the newest mobile devices. 

Why do is it important? 

It is important because today so many people are looking at websites in their computers, phones, and tablets. Since many people are used to the speed and fluidity of design that comes from these devices, if a website is not responsive it make cause them to shy away from that website because it lacks the ease of use and design fluidity people are used to. 

How does it work? 

Screens wether on a phone or computer, are made with pixels. Web browsers use this as a ruler to determine the size of things like text and images. Using these pixels is key when designing a responsive web site. By knowing how big the screen is we are designing for we could have a break point or "Media queries" that changes the layout of our website to make it look better for that size.

For example we could say, 

When my browser window gets below 375 pixels(width of the Iphone 6), change my layout. It really is that simple. 

Let's Look at   
