<!DOCTYPE html>
<html>
<head>
	<title>EG Responsive</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div id="container">

		<div id="navbar">
			<div id="search">
				<img src="assets/SearchBNA.jpg">
				<img src="assets/SearchEG.jpg">
			</div>
			<div id="login"> 
				<form class="inline">
							First name:<input type="text" name="firstname" id="first">
							Last name:<input type="text" name="lastname" id="last">
				</form>
			</div>
			<div id="hidden">
				.
			</div>
		</div>
		<br />

		<div id="linkArea">
			<div id="logo">

				<img src="assets/Employers Group Logo.gif">
			</div>
			<div id="links">
				<img src="assets/Screen Shot 2015-03-21 at 4.37.41 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.07 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.19 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.31 PM.png" class="linkImage">
				<img src="assets/Screen Shot 2015-03-21 at 4.38.42 PM.png" class="linkImage">
			</div>
		</div>

		<div id="bannerArea">
			<img src="assets/Compensation Consulting.jpg" class="banner">
			<img src="assets/BNA_login.jpg" class="banner">
		</div>

		<div id="youtubeArea">
		    <img src="assets/buttonad_myeglearn.jpg" class="threeLinks">
		    <img src="assets/adsquare_blog2.jpg" class="threeLinks">
		    <img src="assets/ETP-Ad_2.jpg" class="threeLinks">
		    <img src="assets/Screen Shot 2015-03-21 at 4.04.01 PM.png" class="margin">
		</div>

		<div id="signup">
			<div class="center">
		    <img src="assets/SignUp.jpg">	
			</div>
		</div>

<!-- 		<div>
		    <img src="assets/Screen Shot 2015-03-21 at 4.04.21 PM.png">	
		</div> -->
	</div>

</body>
</html>


